@font-face {
    font-family: god-font;
    src: url(./font/JosefinSans-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    color: #FFF;
    font-family: god-font, sans-serif;
}

ul{
    list-style: none;
}

main{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background-color: #0d1323;
}

.container-wrapper{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    padding: 20px 0;
}

.special-container {
    border-radius: 15px;
    background-color: #1d204b;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0 0 10px 0;
    margin-bottom: 10px;
    height: 200px;
}

.special-container-content {
    background-color: #5746ea;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 15px;
    border-radius: 15px;
    width: 100%;
}

.special-container-content img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid white;
}

.day-part{
    display: flex;
    font-size: 1rem;
    color: #868aba;
    gap: 10px;
    padding: 20px 0 0 0 ;
}

.day-part li {
    transition: .5s ease;
    cursor: pointer;
}

.day-part li:hover {
    color: #fff;
}

.special-container-content-text h3{
    font-size: 1rem;
    color: #868aba;
    font-weight: 100;
}

.special-container-content-text h2 {
    font-size: 2rem;
    font-weight: 100;
}

main section div:nth-child(3) {
    background-color: #56c2e6;
}

main section div:nth-child(4) {
    background-color: #ff5e7d;
}
main section div:nth-child(5) {
    background-color: #4bcf82;
}
main section div:nth-child(6) {
    background-color: #7135d0;
}
main section div:nth-child(7) {
    background-color: #f1c75b;
}

.ordinary-container {
    background-color: #ff8b64;
    position: relative;
    overflow: hidden;
    
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 200px;

}

.ordinary-container img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -10px;
    right: 4px;
    rotate: 40deg;
 }

.ordinary-container-content {
    background-color: #1d204b;
    border-radius: 4px;
    z-index: 100;
    padding: 27px;

    display: flex;
    flex-direction: column;
    gap: 35px;
}

.ordinary-container-content-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ordinary-container-content-header h4 {
    font-size: 1rem;
}

.ordinary-container-content-header-menu{
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 1px;
}

.ordinary-container-content-header-menu span {
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
}

.ordinary-container-content-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ordinary-container-content-footer h5 {
    font-weight: 100;
    font-size: 1.5rem;
}

.ordinary-container-content-footer h4 {
    color: #868aba;
    font-size: 1rem;
}


@media only screen and (min-width: 800px){
    main {
        align-items: center;
    }
    .container-wrapper{
        grid-template-columns: repeat(4, 1fr);

        padding: 0 50px;
        gap: 20px;
        height: 500px;
    }

    .special-container {
        grid-row: span 2;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 16px;
    }

    .special-container-content{
        border-radius: 11px;

        padding: 30px 70px 70px 20px;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }

    .special-container-content img{
        width: 180px;
        height: 180px;
        border: 3px solid white;
    }

    .special-container-content-text h2{
        font-size: 2.5rem;
        font-weight: 100;
    }

    .special-container-content-text h3{
        font-size: 1rem;
    }

    .day-part {
        margin: 20px;
        font-size: 0.7rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 13px;
    }

    .ordinary-container{
        border-radius: 16px;
        height: 240px;
    }

    .ordinary-container img {
        width: 150px;
        height: 150px;
        top: -30px;
        right: -20px;
    }

    .ordinary-container-content{
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-radius: 16px;
    }

    .ordinary-container-content-header h4 {
        font-size: 1rem;
    }

    .ordinary-container-content-header-menu span{
        width: 5px;
        height: 5px;
    }
    
    .ordinary-container-content-footer{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .ordinary-container-content-footer h5{
        font-size: 40px;
    }

    .ordinary-container-content-footer h4 {
        font-size: 0.8rem;
    }
}